a.navbar-brand {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 6px 18px;
    font-weight: bold;
    background-color: cadetblue;
    color:white;
    text-decoration: none;
    display: inline-block;
}
a.navbar-brand:hover{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 6px 18px;
    font-weight: bold;
    background-color:rgb(128, 157, 158);
    color:white;
    text-decoration: none;
    display: inline-block;
}
a.nav-link:hover{
    background-color: lightgray;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
}

/* .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
} */






h1{
    font-family: "Times New Roman", Times, serif;
    color: cadetblue;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
}
h2{
    font-family: "Times New Roman", Times, serif;
    color: cadetblue;
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
}
h3{
    font-family: "Times New Roman", Times, serif;
    color: cadetblue;
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    

}

}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 14px;
}


body{
    background-color: lightgray;
}

.card{
    margin-top: 50px;
}

.summary_image img{
    width: 260px;
    height: 260px;
    float: left;

}
.vis_image img:hover{
    outline: 2px solid white;
}
.vis_image img{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
.vis_image img:hover{
    outline: 1px solid cadetblue;
}
@media screen and (max-width:768px){
    .vis_image img{
        width:110px;
        height:110px;
    }
    
}
#viz_summary img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

    
}

table th, td {
    border-bottom: 1px solid #ddd;
  }

tr:hover {background-color: #f5f5f5;}

tr:nth-child(even) {background-color: #f2f2f2;}

.data .card {
   
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    font-size: 12px;
}

@media screen and (max-width:576px){
    .card{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;

    }

    .sm_screen.container{
        width: 100%;
    }
    .dropdown-menu{
        background-color: white;
    }
    .col-lg-7{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-lg-5{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-auto{
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-light .navbar-brand {
        color: white;
    }
    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        color: white;
    }

    
   
  
}
@media screen and (min-width:576px){
    .navbar-light{
        background-color:white;
    }
    
}
@media screen and (max-width:768px){
    .top_navbar{
        position: absolute;
        display: none;
    }
    .navbar-light{
        background-color: cadetblue;
    }

}
@media screen and (min-width:768px){
    .bottom_navbar{
        position: absolute;
        display: none;
    }



}
#comparisons img{
    width:300px;
    height:180px;


}
#comparisons img:hover{
    opacity: 0.5;

}

#comparisons .card-title{
    padding-left: auto;
    padding-right: auto;
    
}
#comparisons .card{
    border:none;
    align-content: center;
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
}



